<div class="container arrange">
  <button
    type="button"
    [disabled]="searchIndex <= 10"
    class="btn btn-outline-secondary margin"
    (click)="prevSearch()"
  >
    Prev
  </button>
  <button
    [disabled]="searchIndex != 0"
    (click)="nextSearch()"
    type="button"
    class="btn btn-outline-danger margin"
  >
    Search
  </button>

  <button
    type="button"
    [disabled]="searchIndex >= 30"
    class="btn btn-outline-secondary margin"
    (click)="nextSearch()"
  >
    Next
  </button>

  <div class="row" *ngFor="let item of searchItems">
    <div class="col-md-12">
      <a href="https://youtube.com/watch?v={{ item.videoId }}">
        <img src="{{ item.thumbnailUrl }}" alt="thumbnail-img" />
        <p>{{ item.title }}</p>
      </a>
    </div>
  </div>

  <!-- 
name="next"
ngDefaultControl
[(ngModel)]="next" -->
  <!-- 
name="prev"
ngDefaultControl
[(ngModel)]="prev" -->

  <!-- 
<iframe
        height="450px"
        width="450px"
        [src]="'http://youtube.com/embed/{{ item.id.videoId }}' | safe"
        title="{{ item.snippet.title }}"
        allowfullscreen
      ></iframe> -->
</div>
